@import "tailwindcss";

:root {
  --color-bg: #242423;
  --color-surface: #333332;
  --color-border: #5E5E5D;
  --color-fg: #F4F4F3;
  --color-primary: #FFFFFF;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Pretendard Variable', sans-serif;
}
